<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/3.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="img/1.jpg" class="portrait">
        <p>{{helpText}}</p>
    </div>
    {{>footer}}
</body>

</html>